
<li class="bold"><a href="" class="waves-effect ">Getting Started</a></li>
<li class="no-padding">
  <ul class="collapsible collapsible-accordion">
    <li class="bold"><a class="collapsible-header waves-effect " tabindex="0">News events</a>
      <div class="collapsible-body">
        <ul>
          <li><a routerLink="/news">News</a></li>
          <li><a routerLink="/events">Events</a></li>
          <li><a routerLink="/helper">Helpers</a></li>

        </ul>
      </div>
    </li>

    <li class="bold"><a class="collapsible-header waves-effect " tabindex="0">Market</a>
      <div class="collapsible-body">
        <ul>
          <li><a routerLink="/cropseed">Seed buy</a></li>
          <li><a href="">Crops seller</a></li>

        </ul>
      </div>
    </li>

    <li class="bold"><a class="collapsible-header waves-effect " tabindex="0">Crops details</a>
      <div class="collapsible-body">
        <ul>
          <li><a routerLink="/startdetails">Getting Started</a></li>
          <li><a routerLink="/fiber">FIBER</a></li>
          <li><a routerLink="/fruits">FRUITS</a></li>
          <li><a routerLink="/grains">GRAINS</a></li>
          <li><a routerLink="/hurbal">HERBAL</a></li>
          <li><a routerLink="/nuts">NUTS</a></li>
          <li><a routerLink="/oil">OIL&OILSEEDS</a></li>
          <li><a routerLink="/organic">ORGANIC</a></li>
          <li><a routerLink="/others">OTHERS</a></li>
          <li><a routerLink="/pulses">PULSES</a></li>
          <li><a routerLink="/spices">SPICES</a></li>
          <li><a routerLink="/vegetables">VEGETABLES</a></li>



        </ul>
      </div>
    </li>




  </ul>
</li>
<li class="bold"><a href="" class="waves-effect ">Report</a></li>
<li class="bold"><a routerLink="/map" class="waves-effect ">Map/Area</a></li>
<li class="bold"><a href="" class="waves-effect ">About</a></li>
