<header >

  <nav class="pin-top-nav ">
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
    <div class="nav-wrapper  light-green darken-2 ">

      <a href="#" class="left brand-logo">CreativeCrops<span>Tm</span></a>
      <ul  class="left hide-on-small-only ">
        <li><a routerLink="/">Dashboard</a></li>
        <li><a routerLink="/news">News</a></li>
        <li><a href="">profile</a></li>
        <li><a routerLink="/weather">Wather</a></li>
        <li><a routerLink="/cropseed">Shoping</a></li>
      </ul>

      <ul  class="right hide-on-small-only ">
        <li><a href=""><img class="avatar" style="
    width: 26px;
    position: relative;
    top: 7px;
    right: 10px;
    height: 26px;" src="/assets/img/ic_profile.png">vignesh</a></li>
        <li><a href="">Signout</a></li>

      </ul>

    </div>


  </nav>
  <div class="container nav_d">
    <a data-activates="nav-mobile" onclick="$('.sidenav1').sidenav('open');" class="button-collapse top-nav full hide-on-large-only nav_p right">
      <i class="material-icons">menu</i>
    </a>
  </div>


<ul class="sidenav sidenav-fixed hide-on-small-only app-header-nav1" style="transform: translateX(0px);max-width: 231px;border-right: 1px solid rgba(0,0,0,0.0);/*box-shadow: 0px 0px 16px -4px;*/z-index: 4;margin-top: 49px;">


</ul>

  <ul  class="sidenav sidenav1 app-header-nav1  fixed" >



  </ul>
</header>





